<h1>Show user <%= @user.id %></h1>
<%= link_to "Edit", edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<br>
<img src="<%= @user.avatar_url(:large) %>">
<img src="<%= @user.avatar_url(:small) %>">
<br>
<img src="<%= @user.cover_photo_url %>">
